:root {
    --bgColor: black;
    --fgColor: white;
    --startColor: rgb(56, 152, 56);
    --pauseColor: rgb(255, 216, 91);
    --resetColor: rgb(215, 47, 47);

    --textNorm: 100%;
}

body {
    background: var(--bgColor);
    color: var(--fgColor);
}

button {
    color: var((var(--fgColor)));
    padding: 2px;
    border-radius: 10px;
    font-weight: 200;
    font-size: var(--textNorm);
    height: 50px;
    width: 50px;
    margin-inline: 5px;
}

.material-symbols-outlined {
    font-size: 36px;

    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}

.flexb {
    display: flex;
    border: 5px;
    border-radius: 5px;
    margin-inline: auto;
    max-width: fit-content;
}

.countDisplay {
    color: white;
    background: rgb(40, 40, 40);
    width: 180px;
    height: 45px;
    padding: 5px;
    margin: 5px 8px 5px 8px;
    border: none;
    border-radius: 20px;
    font-family: "Source Code Pro", monospace;
    font-weight: 100;
    font-size: 150%;
}

.startBtn {
    color: var(--startColor);
    background-color: black;
    border-color: var(--startColor);
}

.pauseBtn {
    color: var(--pauseColor);
    background-color: black;
    border-color: var(--pauseColor);
}

.resetBtn {
    color: var(--resetColor);
    background-color: black;
    border-color: var(--resetColor);
}

button:disabled.resetBtn {
    color: rgb(70, 70, 70);
    background-color: black;
    border-color: rgb(70, 70, 70);
}

.timerTable {
    margin-inline: auto;
}