:root {
    --bgColor: black;
    --fgColor: white;
    --startColor: rgb(56, 152, 56);
    --pauseColor: rgb(255, 216, 91);
    --resetColor: rgb(215, 47, 47);

    --textNorm: 100%;
}

body {
    background: var(--bgColor);
    color: var(--fgColor);
    min-height: fit-content;
    min-width: fit-content;
}

table tbody th td {
    padding: 0px;
}

button {
    color: var((var(--fgColor)));
    border-radius: 10px;
    font-weight: 200;
    font-size: var(--textNorm);
    height: 50px;
    width: clamp(1rem,  10vmin);
    padding-top: 4px;
}

.material-symbols-outlined {
    font-size: 36px;

    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}

.flexg {
    background-color: none;
    display: grid;
    place-items: center;
    grid-template-columns: auto minmax(7.5rem, 12rem) max-content max-content;
    column-gap: min(1rem, 2vw);
    row-gap: .5rem;
    margin-inline: auto;
    margin-bottom: .5rem;
    min-width: fit-content;
    max-width: fit-content;
    min-height: 230px;
    height: 40vh;
    overflow: auto;
}

.flexb {
    display: flex;
    border: 1px white solid;
    /* border-radius: 5px; */
    margin-inline: auto;
    max-width: clamp(200px, 80vw, 500px);
    min-width: fit-content;
    min-height: fit-content ;
    justify-content: space-evenly;
}

.countDisplay {
    color: var(--fgColor);
    border-color: var(--fgColor);
    background-color: var(--bgColor);
    /* width: clamp(7.5rem, 30vw, 12rem); */
    width: 100%;
    height: 45px;
    padding: 5px;
    margin: 0px;
    border-radius: 20px;
    font-family: "Source Code Pro", monospace;
    font-weight: 100;
    font-size: 150%;
}

.startBtn {
    color: var(--startColor);
    background-color: black;
    border-color: var(--startColor);
}

.pauseBtn {
    color: var(--pauseColor);
    background-color: black;
    border-color: var(--pauseColor);
}

.resetBtn {
    color: var(--resetColor);
    background-color: black;
    border-color: var(--resetColor);
}

button:disabled.resetBtn {
    color: rgb(70, 70, 70);
    background-color: black;
    border-color: rgb(70, 70, 70);
}

.timerTable {
    margin-inline: auto;
    max-width: fit-content;
}

.timerLbl {
    font-size: 100%;
    min-width: 68px;
}